<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Metro System Menu</title>
<link th:href="@{/styles/logged.css}" rel="stylesheet">
</head>
<body>
<h1>Metro System</h1>
<hr>
<h2 th:text="'Welcome! Card ID: '+${session.card.cardId}+' is logged in. Balance : Rs.'+${session.card.balance}"></h2>
<hr>
<h2 th:text="${message}"></h2><br>
<h3>Hope you are having a nice journey with us. Please choose from these:</h3>

<a href="/swipeOut">Swipe Out</a><br><br>
<a href="/rechargeCard">Recharge Card</a><br><br>
<a href="/showAllPreviousTransactions">Show all previous transactions</a><br><br>
<br><br>

<a href="/logout">!!! Sign Out !!!</a><br>
</body>
</html>